{{ define "head" }}
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
<link rel="stylesheet" href="/single.css">
<style>
    #navbar>#tab_{{ trim .File.Dir "/" }} { color: white; }
</style>
{{ end }}

{{ define "body" }}
<header>
    <div class="capWidth">
        <div id="navbar">
            <span id="logo">hackable.ca</span>
            <a id="tab_" href="/">home</a>
            <a id="tab_challenges" href="/challenges/">challenges</a>
            <a id="tab_scoreboard" href="/scoreboard/">scoreboard</a>
            <a style="display:none;" id="tab_profile" href="/profile/">profile</a>
            <a style="display:none;" id="tab_logout" href="/logout/">logout</a>
            <a style="display:none;" id="tab_register" href="/register/">register</a>
            <a style="display:none;" id="tab_login" href="/login/">login</a>
        </div>
        <div id="toggleNav">|||</div>
    </div>
</header>
<script>
    document.getElementById('toggleNav').addEventListener('click', () =>
        document.getElementById('navbar').classList.toggle('navExpand'));
</script>

<div class="capWidth">
    {{.Content}}
</div>

<footer>
    <div class="capWidth">
        <span class="text-muted">copyright 2019 - hackable.ca </span>
    </div>
</footer>
<script src="/single.js"></script>
{{ end }}