html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0 0 50px 0;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    line-height: 50px;
    background-color: #f5f5f5;
    display: block;
}

header {
    position: relative;
    line-height: 50px;
    background-color: #343a40;
}

header a {
    text-decoration: none;
}

#navbar>#logo {
    margin-right: 30px;
    color: white;
}

#navbar {
    display: inline-flex;
    height: 50px;
    transition: height .2s ease-out;
    overflow: hidden;
}

#navbar>a {
    margin: 0 20px;
    color: rgba(255, 255, 255, .5);
}

.capWidth {
    margin: auto;
    max-width: 900px;
    padding: 0 10px;
}

#toggleNav {
    display: none;
    position: absolute;
    right: 0;
    height: 50px;
    width: 50px;
    background-color: grey;
    text-align: center;
    cursor: pointer;
}

@media only screen and (max-width: 700px) {
    #toggleNav{
        display: inline-block;
    }
    #navbar.navExpand {
        height: 300px;
    }
    #navbar {
        flex-direction: column;
    }
}

/* begin page-specific styles */

#scoreboard {
    text-align: left;
    width: 100%;
    line-height: 2em;
}

#scoreboard td {
    padding: 10px;
    border-top: 1px solid black;
}

.challengeCard {
    display: inline-block;
    margin: 8px;
    border-radius: 4px;
    color: white;
    width: 180px;
    text-align: center;
    cursor: pointer;
}

.loginLabel {
    width: 200px;
    text-align: right;
}

.loginInput {
    width: auto;
    text-align: left;
    padding: 10px;
}